<!DOCTYPE html>
<html lang="en">

<head>

    <title>MG Site</title>

    <link href="/assets/application.css" rel="stylesheet">

</head>

<body>

    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="/assets/road.jpg". alt="Highway Road">
            </div>
            <div class="col-md-4">
                <h1>MG United</h1>
                <p>Finally a site that brings all of us affected by Myasthenia Gravis together. Join us in this difficult journey that lays ahead. Walking together is better than walking alone.</p>
                <a class="btn btn-primary btn-lg" href="#">Register or Sign in</a>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    Bringing Myasthenia patients together in one location! Come stay united with us!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>About</h2>
                <p>This site was created to bring together all stages of Myasthenia Gravis together. We are all in need of support and knowing that we are not alone during our low points and high points.</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <div class="col-md-4">
                <h2>Resources</h2>
                <p>Newly diagnosed and have no idea what you have exactly? He we strive to collaborate with new and experienced MGers to provide as much information as possible. We strive to create credible information on all fronts.</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <div class="col-md-4">
                <h2>Community</h2>
                <p>We have created a community of all MG patients where we can support and give personal experiences. It is important to speak with new and experienced MGers because Myasthenia Gravis is not a popular disease.  We all need to stay connected with each other!</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
        </div>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; MG United 2015</p>
                </div>
            </div>
        </footer>

    </div>

</body>

</html>
